.main {
    margin: 10px;
    padding: 10px;
    border: red 4px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    border: blue 4px solid;
}

.duration {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 10px;
}

.monthDuration, .hourDuration {
    padding: 10px;
    border: blue 4px solid;
}

.modules {
    margin: 0;
    padding: 0;
    border: blue 4px solid;
}

.li {
    margin: 10px;
    padding: 10px;
    list-style: none;
    border: blue 4px solid;
}

.none {
    display: none;
}